<div class="register-page">
	{{#> Card title="Регистрация" }}

		{{#*inline "body"}}
			{{> Input label="Почта"}}
			{{> Input label="Логин"}}
			{{> Input label="Имя"}}
			{{> Input label="Фамилия"}}
			{{> Input label="Телефон"}}
			{{> Input label="Пароль"}}
			{{> Input label="Повторите пароль"}}
		{{/inline}}

		{{#*inline "actions"}}
			{{> Button class="goToChatsBtn" text="Зарегистрироваться"}}
		{{/inline}}

	{{/Card}}
</div>
