<div class="not-found-page">
	<span class="not-found-page__main">
		<span class="not-found-page__main-title">
			500
		</span>
		<span class="not-found-page__main-message">
			Мы уже фиксим
		</span>
	</span>
	<span class="not-found-page__link">
		{{> Button text="Вернуться"}}
	</span>
</div>
